:root {
    --primary-color: #333;
    --secondary-color: #142D4C;
    --accent-color: #ECECEC;
    --background-color: linear-gradient(to bottom, #1B3C53, #118A7E); /* Background of the page */
    --glow-color: rgba(140, 0, 255, 0.5);
}

body {
    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;
    color: var(--accent-color);

    background: var(--background-color);


}

.header {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 10px;
    text-align: center;
}

.content {
    min-height: 100vh;
    padding: 20px;
}

.footer {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 10px;
    text-align: center;
}



.content-card {
    background-color: var(--secondary-color);
    width: 97%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid var(--glow-color);
}

.content-card:hover {
    box-shadow: 0 0 10px var(--glow-color);
}

.content-card-content {
    margin-top: 10px;
    width: 100%;

    border: 1px solid rgba(0, 0, 0, 0.5); /* debug */
}

.content-card-content-columns {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
    gap: 10px;
}

.dubble-card {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
    gap: 10px;
}