body {
    margin: 0;
    padding: 0px;

    display: flex;
    flex-direction: column;

}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.game-view {
    background-color: green;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    min-height: 400px;
    padding: 20px;
    
}

.card-display {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.card {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 140px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-suit {
    font-size: 20px;
}

.card-value {
    font-size: 20px;
}


